In [2]:
import pandas as pd

In [3]:
x = [94, 75, 84, 90, 76]
y = [78, 58, 64, 75, 60]
data = [ (x[i], y[i]) for i in range(len(x))]
df = pd.DataFrame(data=data, columns=["X", "Y"])

In [4]:
df["X"].mean()

83.8

In [5]:
df["Y"].mean()

67.0

In [8]:
df.var()

X    70.2
Y    81.0
dtype: float64

In [6]:
df.cov()

       X      Y
X  70.20  73.75
Y  73.75  81.00

In [7]:
df.corr()

          X         Y
X  1.000000  0.978027
Y  0.978027  1.000000